@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #292e47;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc; 
}

h2 {
  font-size: 2.5em;
}

h3{
  font-size: 1.5em;
  
  
}
textarea {
  font-family: "Roboto", sans-serif;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

nav {
  display: flex;
  margin: 75px 160px;
  justify-content: space-between;
  align-items: center;   
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul a {
  padding: 0 15px;
  text-decoration: none;
  color: #6B708D;
  font-size: 1.1em; 
  font-weight: 500;
}

 nav ul :hover {
  color: #43d2ff; 
 }

nav button {
  background-color: var(--primary);
  padding: 15px 25px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
nav button:hover {
  background-color: #292e47;
}
/* ------------------------------ Header ------------------------------ */
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
main {
 
  width: 70vw;
 
  margin: 60px auto;  
}
main  > * {
  flex-basis: 100%;
}

main h1 {
  font-size: 3.75em;
  width: 85%;
  color: #292e47;
}
main p {
  font-size: 1.25em;
  color: #6B708D;
  width: 77%; 
  text-align: justify;
  margin: 30px 0;
}

main button {
  background-color: var(--primary);
  padding: 15px 15px;
  color: white;
  font-weight: 600;
  border: none;  
  cursor: pointer;
}

main button:hover {
  background-color: #292e47;
}


main a {
  text-decoration: none;
  color: #6B708D;
  font-size: 1.1em; 
  font-weight: 500;
  /* padding: 0 0 0 0; */
  margin: 0 30px;
}

.banner-img {
  display:flex;
  justify-content: center;
  position: relative;
  /* margin: 0 250px 50px 0; */
  /* align-self: center; */
}

.banner-img img:first-child {
 /* position: absolute; */
 width: 80%;
 
 margin: 0 ;
 
}
.banner-img img:nth-child(2){
  position: absolute;
  left: -5%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 45%;
  
}
.banner-img img:nth-child(3){
  position: absolute;
  left: auto;
  top: auto;
  right: -8%;
  bottom: -20%;
  max-width: 45%;
  z-index: 2;
 
}

/* ------------------------------ Partners ------------------------------ */

#img-carrousel {
  width: 70vw;
  margin: 12em auto 8em;
  overflow: hidden;
  white-space: nowrap;
 }

#img-carrousel div {
  display: inline;
  padding-left: 10%;
  animation: marquee 4s linear infinite;
}

.logo {
  width: 12%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.logo:hover{
  filter: none;
  -webkit-filter: grayscale(0);
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}


/* ------------------------------ Recent projects ------------------------------ */
#project-container{
  width: 65vw;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 3em 0;    
}
.flex-container > * {
  flex-basis: 100%;
  background-color: white;
}
 #project-container img {
  width: 100%;
  height: 15em;  
 }

 .card-text {
  padding: 2em 2em;
  display:flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  align-content: center;
 }
 .card-text > * {
  padding: 0.5em;
 }

 .flex-container a {
  text-decoration: none;
  color: var(--primary); 
  font-weight: 500;
  margin: 20px 0 0 0;
 }
/* ------------------------------ Client reviews ------------------------------ */

#reviews {  
  background-color: #292e47;
  background-image: url(/resources/images/testimonial-section/orbit.png);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 70vw;
  width: 70vw;
  height: 500px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 150px auto 0 ; 
}
#reviews h2 {
  font-size: 2em;
  color: white;
  margin: 2em 0 0 0;
}
#reviews p {
  font-size: 1.5em;
  color: #ffc600;
  width: 50%;
}
.test-emoji {
  width: 12%;
}

.emoji1 {
  position: absolute;
  left: 10%;
  top: 10%;
}

.emoji2 {
  position: absolute;
  right: 10%;
  top: 10%;
}

.emoji3 {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.emoji4 {
  position: absolute;
  right: 10%;
  bottom: 10%;
}
#testimonial {
  display: flex;
  width: 20%;

}

#testimonial img{
  border-radius: 100%;
  width: 30%;
  margin: 0 10px 0 0;

}
#testimonial h4{
  color: #a2d6f9;
}
#testimonial h5{
  color: white;
}

#testimonial > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ------------------------------ Services ------------------------------ */

#services {
  width: 60vw;
  margin: 5em auto;
}

.service-img {
  width: 25%;
  background-color: #f2f4fc; 
  border-radius: 100%;
  padding: 1em;
  margin: 2em 2em 0;    
}
/* ------------------------------ Questions form ------------------------------ */

#subscribe {
  background-color: #ffc600;
  width: 75vw;
  height: 400px;
  margin: 9em auto 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#subscribe p {
  color: #6B708D;
  padding: 2em 0;
}

#subscribe button {
  background-color: var(--primary);
  padding: 20px 30px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
#subscribe input {

  padding: 20px 180px 20px 50px;
  margin: 0 0.5em;
  border: none;
  background: url(/resources/images/newsletter/icon/mail.svg) no-repeat 3%;
  background-size: 25px;
  background-color: white;
}





/* ------------------------------ Footer ------------------------------ */

footer {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: 6em auto;
  /* align-content: center; */
  align-items: center;
}
footer img {
  width: 40%;
  padding: 0 0 2em 0;
}
footer p {
  font-weight: 300;
}
footer a {
  text-decoration: none;
  color: var(--primary); 
  font-weight: 500;
  margin: 20px 0 0 0;
}

.grid-links {
  width: 37%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

#project-main {
  width: 65vw;
  margin: 7em auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
 #project-main img {
  width: 100%;
  height: 500px;

 }
 #project-main > div {
  display: flex;
  width: 65vw;
  justify-content: space-between;
 }
 #project-main h1{
  width: 100%;
 }
 #project-main p{
  margin: 2em 0;
  width: 100%;
 }

 #project-main > div p:last-of-type{
  align-self: flex-end;
  text-align: right;
 }



/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */
#contact-form {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
 }

#contact-form h1 {
  width: 100%;
  margin: 0.5em 0 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 60vw;  
}
.form-secondary {
  display: flex; 
  gap: 1em; 
}
.form-secondary > * {
  flex: 1;
  
}
.sub-form-container {
  display: flex;
  flex-direction: column;  
}
form label {
  color: #6B708D;
  font-size: 1.3em;
  margin: 0 8.4em 0 0;
}
form input {
  background-color: #e6e8f3;
  border: none;
  padding: 1em;
  margin: 0.25em 0 0.5em 0;
  
}
form textarea  {
  margin: 0.25em 0 1em 0;
  background-color: #e6e8f3;
  border: none;
  padding: 1em;
}

form > button {
  padding: 2em 0;
}


/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* .about-title {
    font-size: 3em;
    flex-basis: 100%;
    align-self: center;
} */

#about-container {
  display: flex;
  width: 75vw;
  margin: 3em auto;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  
}
/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  .main-container{
    flex-direction: column;
    gap: 7em;
  }
  /* .main-container > *{
    gap: 2em;
    
  } */


  h1 {
    font-size: 2.5em;
  }
  
  .flex-container {
    flex-wrap: wrap;
    /* flex-direction: column;  */
  }

  .form-secondary {
    flex-wrap: wrap;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    margin: 1.5em 0;    
  }
  nav > img {
    width: 6em;
  }
  
  footer {
    flex-wrap: wrap;
  }
 
  .grid-links {
    grid-row-gap: 0;
  }
  
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */
/* .hidden {
  display: none;
} */
.active {
  display: block; 
}
.scroller {
  position: sticky;
  z-index: 20;
  bottom: 0;
  background-color: #292e47;
  text-align: center;
  padding: 1em;
  cursor: pointer;
  overflow-y: auto;
}
.scroller h3{
  color: white;
}
